<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyhj.wallpaper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tyhj.wallpaper.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:exported="true"
            android:name="com.tyhj.wallpaper.ui.service.MallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">

            <!-- 为动态壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为动态壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>

        <activity
            android:name="com.tyhj.wallpaper.ui.activity.LiveWallPreference"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:exported="true"
            android:name="com.tyhj.wallpaper.ui.service.CameraLiveWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">

            <!-- 为动态壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为动态壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>
        <service
            android:exported="true"
            android:name="com.tyhj.wallpaper.ui.service.VideoWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">

            <!-- 为动态壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为动态壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>
        <service
            android:exported="true"
            android:name="com.tyhj.wallpaper.ui.service.GifWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">

            <!-- 为动态壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为动态壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>

        <activity android:name="com.tyhj.wallpaper.ui.activity.ShowImage" />
        <activity android:name="com.tyhj.wallpaper.ui.common.BaseActivity" />
        <activity android:name="com.tyhj.wallpaper.ui.activity.GifActivity" />

        <receiver android:name="com.tyhj.wallpaper.ui.service.BootCompleteReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="RestartSerivcesForSystemEventReceiver" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tyhj.wallpaper.ui.service.MyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>